/* Default styles for larger screens */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    width: 800px; /* Set an initial width */
    margin: 0 auto; /* Center the container */
}

/* Title styles */
.title {
    font-size: 40px;
    margin-bottom: 20px;
}

/* First section styles */
.first-section {
    margin-bottom: 20px;
}

/* Paragraph styles */
.paragraphs {
    font-size: 18px;
    margin-bottom: 4px;
}

/* Input styles for larger screens */
.inputsName, .inputsSecond {
    margin-right: 20px;
}

/* Option styles */
.optionCss {
    width: 570px;
    height: 30px;
}

/* Message styles */
.message {
    width: 600px;
    height: 300px;
}

/* Reset and submit button styles */
.reset-button, .submit-button {
    padding: 15px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust the width for smaller screens */
    }

    /* Adjust font size and input widths for smaller screens */
    .title {
        font-size: 30px;
    }

    .inputsName, .inputsSecond {
        width: 100%;
        margin-right: 0;
    }

    /* Adjust button widths for smaller screens */
    .reset-button, .submit-button {
        width: 100%;
        margin-right: 0;
    }
}
