*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container{
    display: grid;
    place-content: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    row-gap: 20px;
    margin-top: 60px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: darkorange;
}

.form-group{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group label{
    font-size: 14px;
    font-weight: 600;
    color: darkorange;
}

.form-group .input-group{
    flex: 1;
}

.col{
    flex-direction: column;
}

.form-group select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender{
    color: darkorange;
    font-size: 14px;
    font-weight: 600;
}

.what-are-u-looking{
    color: darkorange;
    font-size: 14px;
    font-weight: 600;
}

.radio-section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.checkbox-section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.programming-languages{
    color: darkorange;
    font-size: 14px;
    font-weight: 600;
}

.message{
    color: darkorange;
    font-size: 14px;
    font-weight: 600;
}

.message-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
}

.reset{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    flex-grow: 1;
}

.submit{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    flex-grow: 3;
}

/* For telephone */
@media (max-width: 600px){
    .radio-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

